{% extends "base.html" %}
{% load static %}
{% load goods_tags %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/catalog.css" %}">
{% endblock %}


{% block content %}

<div class="top">
    <p><a href="{% url 'main:index' %}" class="a">Главная</a> / Каталог</p>
    <div class="search">
     <form class="d-flex" role="search" action="{% url "catalog:search" %}" metod="get">
            <input class="form-control me-2" type="search" name="qu" placeholder="" aria-label="Search">
            <button class="btn btn-outline-success text-black" type="submit">Поиск</button>
        </form>
    </div>
</div>    
<div class="navbar-bottom-border two"></div>
<div class="container one">
    <!-- Каталог и корзина с фиксированным расположением на странице -->
    <div class="row mt-1 filters z-3">
        <!-- Каталог -->
        <div class="filter-container">
            <h2>Фильтры</h2>
            <div class="filter-item">
                <div class="filter-header">
                    Категории
                    <span class="arrow">ᐯ</span>
                </div>
                <div class="filter-content">
                    <ul class="filter-ul">
                        {% tag_categories as categories %}
                        {% for category in categories %}
                            <li><a href="{% url "catalog:index" category.slug %}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>    
                </div>
            </div>
            <div class="filter-item">
                <div class="filter-header">
                    По цене 
                    <span class="arrow">ᐯ</span>
                </div>
                <div class="filter-content">
                    <div class="price-inputs">
                        <input type="text" id="priceFrom" placeholder="От" min="0">
                        <input type="text" id="priceTo" placeholder="До" min="0">
                    </div>
                    <div class="slider-container">
                        <input type="range" min="0" max="40000" step="10" id="priceRange" class="price-slider">
                    </div>
                </div>
            </div>
            <div class="filter-item">
                <div class="filter-header">
                    По цветам
                    <span class="arrow">ᐯ</span>
                </div>
                <div class="filter-content">
                    <div class="scrollable">
                        <label><input type="checkbox"> Альстормерия</label><br>
                        <label><input type="checkbox"> Амарилис</label><br>
                        <label><input type="checkbox"> Бруния</label><br>
                        <label><input type="checkbox"> Гвоздика</label><br>
                        <label><input type="checkbox"> Гвоздика кустовая</label><br>
                        <label><input type="checkbox"> Гербера</label><br>
                        <label><input type="checkbox"> Гиацинт</label><br>
                        <label><input type="checkbox"> Гиперикум</label><br>
                        <label><input type="checkbox"> Гипсофила</label><br>
                        <label><input type="checkbox"> Гортензия</label><br>
                        <label><input type="checkbox"> Дельфиниум</label><br>
                        <label><input type="checkbox"> Илекс</label><br>
                        <label><input type="checkbox"> Ирис</label><br>
                        <label><input type="checkbox"> Ковыль</label><br>
                        <label><input type="checkbox"> Лизиантус</label><br>
                        <label><input type="checkbox"> Лилия</label><br>
                        <label><input type="checkbox"> Лилия пионовидная</label><br>
                        <label><input type="checkbox"> Лимониум</label><br>
                        <label><input type="checkbox"> Матиола</label><br>
                        <label><input type="checkbox"> Нобилис</label><br>
                        <label><input type="checkbox"> Пионовидная роза</label><br>
                        <label><input type="checkbox"> Подсолнух</label><br>
                        <label><input type="checkbox"> Ранункулюс</label><br>
                        <label><input type="checkbox"> Роза Кения</label><br>
                        <label><input type="checkbox"> Роза кустовая</label><br>
                        <label><input type="checkbox"> Роза кустовая пионовидная</label><br>
                        <label><input type="checkbox"> Роза Эквадор</label><br>
                        <label><input type="checkbox"> Ромашка</label><br>
                        <label><input type="checkbox"> Сантини</label><br>
                        <label><input type="checkbox"> Сирень</label><br>
                        <label><input type="checkbox"> Статица</label><br>
                        <label><input type="checkbox"> Тюльпаны</label><br>
                        <label><input type="checkbox"> Французская роза</label><br>
                        <label><input type="checkbox"> Хризантемы</label><br>
                        <label><input type="checkbox"> Шишка сосновая</label><br>
                        <label><input type="checkbox"> Эвкалипт</label><br>
                        <label><input type="checkbox"> Эустома</label><br>
                    </div>
                </div>
            </div>
            <div class="filter-item">
                <div class="filter-header">
                    По цвету
                    <span class="arrow">ᐯ</span>
                </div>
                <div class="filter-content">
                    <label><input type="checkbox"> Белый</label><br>
                    <label><input type="checkbox"> Красный</label><br>
                    <label><input type="checkbox"> Голубой</label><br>
                    <label><input type="checkbox"> Зеленый</label><br>
                    <label><input type="checkbox"> Желтый</label><br>
                    <label><input type="checkbox"> Розовый</label><br>
                    <label><input type="checkbox"> Персиковый</label><br>
                    <label><input type="checkbox"> Оранжевый</label><br>
                </div>
            </div>
    
            <div class="filter-item">
                <div class="filter-header">
                    По высоте
                    <span class="arrow">ᐯ</span>
                </div>
                <div class="filter-content">
                    <label><input type="checkbox"> 40-60 см</label><br>
                    <label><input type="checkbox"> 60-70 см</label><br>
                </div>
            </div>
        </div>
    
        <script>
            const filterHeaders = document.querySelectorAll('.filter-header');
        
            filterHeaders.forEach(header => {
                header.addEventListener('click', () => {
                    const content = header.nextElementSibling;
                    content.style.display = (content.style.display === 'block') ? 'none' : 'block';
                });
            });
        
            const priceRange = document.getElementById('priceRange');
            const priceFrom = document.getElementById('priceFrom');
            const priceTo = document.getElementById('priceTo');
        
        
            priceRange.addEventListener('input', function() {
                priceFrom.value = 0; 
                priceTo.value = this.value; 
            });
        
            priceFrom.addEventListener('input', function() {
                priceRange.value = this.value; 
            });
        
            priceTo.addEventListener('input', function() {
                priceRange.value = this.value; 
            });
                
        </script>
        </div>
    </div>
</div>
<!-- Контент -->
<div class="container">
    <div class="row mt-1">
        <div class="col-lg-2">
            <!-- Пустой блок на усмотрение -->
        </div>
        <div class="col-lg-10">
            <!-- Контент на странице -->
            <div class="row">
                <div class="dropdown mb-2">
                    <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Сортировать
                    </button>
                    <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                        <div class="form-check  mx-3">
                            <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on" {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                            {% if request.GET.q %}
                                <input type="hidden" name="q" value="{{ request.GET.q }}">
                            {% endif %}
                            
                            <label class="form-check-label" for="flexCheckDefault">
                                Товары по акции <br><br>
                            </label>
                        </div>
                        <div class="form-check   mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" 
                            {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault1">
                                По умолчанию
                            </label>
                        </div>
                        <div class="form-check   mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price" 
                            {% if request.GET.order_by == 'price' %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault2">
                                От дешевых к дорогим
                            </label>
                        </div>
                        <div class="form-check   mx-3">
                            <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" 
                            {% if request.GET.order_by == '-price' %}checked{% endif %}>
                            <label class="form-check-label" for="flexRadioDefault3">
                                От дорогих к дешевым
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
                    </form>
                </div>

                {% if request.GET.qu %}
               
                {% if not goods %}
                <h2 class="not">Упс, такого товара нет в наличии.</h2>
                {% endif %}
                {% endif %}
                {% for product in goods %}
                    <!-- Карта товара -->
                    <div class="col-lg-4 col-md-6 p-4">
                        <div class="card border-primary rounded custom-shadow">
                                <a href="{% url "catalog:product" product.slug %}">
                                    {% if product.image %}
                                        <img src="{{ product.image.url}}" width="100%" height="auto" class="card-img-top" alt="...">
                                    {% endif %}
                                    <div class="card-body">
                                        
                                    <p class="card-title">
                                        {% autoescape off %}
                                            {% if product.headline %}
                                            {{product.headline}}
                                            {% else %}
                                            {{product.name}}
                                            {% endif %}
                                        {% endautoescape %}
                                        
                                    </p>
                                </a>
                                <p class="product_id">id: {{product.display_id}}</p>
                                <div class="aa">
                                    {% if product.discount %}
                                        <p class="product-discount-price"><s>{{product.price}}</s> ₽</p>
                                        <p class="product-discount-sprice">{{product.sell_price}} ₽</p>
                                    {% else %}
                                        <div class="card-price">
                                            <p>{{product.price}} ₽</p>
                                        </div>
                                    {% endif %}
                                    
                                    <div >
                                        <a href="{% url "cart:cart_add" product.slug %}" class="btn add-to-cart">
                                            <img class="mx-1" src="{% static "deps/icons/basket.png" %}" alt="Catalog Icon"
                                                width="32" height="32">
                                        </a>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}   
            </div>
            <!-- Пагинация -->
             {% if goods %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center my-4">
                        <div class="custom-shadow d-flex">

                            <li class="page-item {% if not goods.has_previous %} disabled {% endif %}">
                            <a class="page-link" href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %}{% else %}#{% endif %}">Предыдущая</a>
                            </li>

                            {% for page in goods.paginator.page_range %}
                            {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                            <li class="page-item">
                                    <a class="page-link" href="?{% change_params page=page %}">{{page}}</a>
                                </li>
                            {% endif %}
                            {% endfor %}


                            <li class="page-item {% if not goods.has_next %} disabled {% endif %}">
                                <a class="page-link" href="{% if goods.has_next %}?{% change_params page=goods.next_page_number %}{% else %}#{% endif %}">Следующая</a>
                            </li>
                        </div>
                    </ul>
                </nav>
             {% endif %}
            
        </div>
    </div>
</div>
</section>
{% endblock %}