  body{
    background-color: #f7f8f9;
  }
  a{
    text-decoration: none;    
    
  }
  .going-catalog:hover {
    color: #ffffff;
  }
  a:hover{
    color: black;
  }
  .categories a:hover{
    color:#f790ad
  }
 .cart-link {
    margin-left: 1rem; 
  }
  .navbar-bottom-border {
    height: 2px;
    background-color: #f790ad; 
  }
  .navbar .navbar-collapse {
  flex-wrap:nowrap;
  }
  .navbar .navbar-nav .dropdown-menu {
  position: absolute !important;
  }
  .dropdown-toggle::after {
    content: none;
  }
  .why-ate-we-list{
    list-style-type: none;
  }
  button{
    border: solid 1px;
    border-color: #f790ad;
    background-color: #f790ad;
  }

/*-----------------------------*/

  .logo{
    color: black;
    background-color: #f790ad;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    font-size: 40px;
    margin-right: 4%;
    font-family: "Dancing Script", serif;
  }
  .basket{
    width: 45px;
  }

/*-----------------------------*/

.head-photo {
  font-family: "Playfair Display", serif;
  margin-top: 5%;
  width: 100%; 
  height: 170px; 
  text-align: center;
  align-items: center;
  background: linear-gradient(to right, #f9f7f7, #e2e2e2 20%, #e2e2e2 80%, #f9f7f7);
}
.head-photo h1{
  color: #fe759c;
  margin-top: 2.5%;
  font-weight: 700;
  letter-spacing: 2.5px;
}
.head-photo p{
  margin-top: 2%;
  font-size: 17px;
  letter-spacing: 1px;
}
.head-photo a{
  color: black;
}
.head-photo a:hover{
  color:#f790ad
}

 /*-----------------------------*/

 .container-two {
  font-family: "Playfair Display", serif;
  margin: 5% 0 5% ;
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%;
}
.text {
  width: 70%; 
  text-align: justify; 
  padding: 20px; 
}
.text p {
  line-height: 2;
  font-size: 20px;
  margin-top: 3%;
  word-break: break-word;
}

  /*-----------------------------*/

  .container-bot {
    display: flex;
    margin: 5% 5%;
  }
  .bottom {
    display: flex;
    align-items: flex-start;
    gap: 10%; 
    width: 80%; 
    max-width: 1200px; 
  }
  .map-container{
    border: 2px solid #959595;
  }
  .bottom h1{
    margin-top: 8%;
    white-space: nowrap;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    letter-spacing: 2.5px;
  }
  .contact-info-p{
    line-height: 1.3;
    margin-top: 10%;
    font-family: "Playfair Display", serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 18px;
    margin-left: 10%;
  }
  .social-networks img {
    max-width: 45px; 
    max-height: 45px; 
    
  }
  .social-networks {
    margin-top: 40%; 
    margin-left: 15%;
    display: flex;
    justify-content: flex-start; 
    gap: 10%;
  }

  /*-----------------------------*/

  footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #e2e2e2;
    padding: 10px 0;
  }
  .footer{
    color: black;
    margin: 2%;
  }