  body{
    background-color: #f9f7f7;
  }
  
  a{
    text-decoration: none;    
    
  }
  .going-catalog:hover {
    color: #ffffff;
  }
  a:hover{
    color: black;
  }
  .categories a:hover{
    color:#f790ad
  }
  
 .cart-link {
    margin-left: 1rem; 
  }
  .navbar-bottom-border {
    height: 2px;
    background-color: #f790ad; 
  }
  .navbar .navbar-collapse {
  flex-wrap:nowrap;
  }
  .navbar .navbar-nav .dropdown-menu {
  position: absolute !important;
  }
  .dropdown-toggle::after {
    content: none;
  }
  .why-ate-we-list{
    list-style-type: none;
  }
  button{
    border: solid 1px;
    border-color: #f790ad;
    background-color: #f790ad;
  }

/*-----------------------------*/

  .logo{
    color: black;
    background-color: #f790ad;
    width: 57px;
    height: 57px;
    border-radius: 50%;
    font-size: 40px;
    margin-right: 4%;
    font-family: "Dancing Script", serif;
  }
  .basket{
    width: 45px;
  }

/*-----------------------------*/
  
  .going-catalog-photos{
    display: flex;
    margin: 0 auto;
    max-width: 85%;
    text-align: center; 
    position: relative;
    margin-bottom: 5%;
  }
  .image-container{
    margin-top: 2%;
  }
  .going-catalog-photos img {
    max-width: 100%;
    height: auto; 
    width: 100%;
  }
  .going-catalog-photos p {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 160%;
    position: absolute; 
    top: 13%; 
    left: 6%;
    transform: translate(-2%, -2%); 
    z-index: 1; 
    color: rgb(41, 63, 41); 
    text-align: center;
    font-size: 50px;   
    padding: 10px; 
  }
  .going-catalog-photos button {
    width: 20%;
    height: 15%;
    font-size: 18px;
    position: absolute; 
    top: 68%; 
    left: 15%;
    transform: translate(-2%, -2%); 
    display: block;
    margin: 10px 0 0 15px;
  }
  .going-catalog-photos button a {
      
      color: inherit;
      display: block; 
      padding: 10px 20px;
  }
  
  /*-----------------------------*/

  .why-are-we{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 5%;
  }
  .why-are-we h2{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    letter-spacing: 2.5px;
  }
  .why-are-we img{
    width: 40px;
  }
  .why-ate-we-list {
    font-family: "Playfair Display", serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 5%;
    line-height: 300%;
    display: flex;
    flex-wrap: wrap; 
    text-align: center;
    justify-content:space-evenly; 
  }
  .why-ate-we-list li {
    width: 40%; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
  }
  .why-ate-we-list li div {
    display: flex; 
    align-items: center; 
  }
  .why-ate-we-list li div img {
    margin-right: 10px;
  }
  .catalog-button-two{
    width: 16%;
    height: 15%;
    font-size: 18px;
    margin: 10px 0 0 15px;
  }
  .catalog-button-two a{
    text-decoration: none; 
      color: inherit;
      display: block; 
      padding: 10px 10px;
  }

  /*-----------------------------*/

  .categories {
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .categories a{
    color: #ffffff;
  }
  .categories img{
    width: 400px;
  }
  .bouquets, .individually, .indoor {
    text-align: center;
    width: 33%;
    box-sizing: border-box;
    margin-bottom: 10px;
    position: relative; 
  }
  .image-container {
    position: relative; 
    overflow: hidden; 
  }
  .going-bouquets {
    width: 100%;
    height: auto;
    display: block;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 93.5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
  }
  .text-overlay { 
    font-family: "Playfair Display", serif;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 160%;
    z-index: 1; 
    color: rgb(255, 255, 255);
    font-size: 40px;  
    position: absolute; 
    top: 50%;          
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  .bouquets:hover .overlay,
  .individually:hover .overlay,
  .indoor:hover .overlay {
    background-color: rgba(0, 0, 0, 0); 
  }
  .bouquets a, .individually a, .indoor a {
    text-decoration: none;
    color: inherit;
  }
  .bouquets p, .individually p, .indoor p {
      transition: opacity 0.3s ease; 
  }
  .bouquets:hover p, .individually:hover p, .indoor:hover p {
      opacity: 0; 
  }

   /*-----------------------------*/

   .description{
    display: flex;
    margin: 0 auto;
    max-width: 85%;
    text-align: center; 
    position: relative;
    margin-bottom: 5%;
   }
   .description img{ 
    width: 400px;
   }
   .text{
    margin-top: 6%;
    margin-left: 10%;
   }
   .description h2{
    font-family: "Playfair Display", serif;
    font-weight: 700;
    letter-spacing: 2.5px;
    margin-bottom: 6%;
   }
   .description p{
    font-family: "Playfair Display", serif;
    letter-spacing: 1.5px;
    font-size: 18px;
    margin-left: 10%;
    text-align: left;
   }
   .description button {
    width: 20%;
    height: 10%;
    font-size: 18px;
    position: absolute; 
    top: 68%; 
    left: 51%;
    margin: 10px 0 0 15px;
  }
  .description button a {
      color: inherit;
      display: block; 
      padding: 10px 20px;
  }

   /*-----------------------------*/

  .photos{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }
  .img{
    width: 200px;
    height: auto;
    margin: 5px;
  }

  /*-----------------------------*/

  .container-bot {
    display: flex;
    margin: 5% 5%;
  }
  .bottom {
    display: flex;
    align-items: flex-start;
    gap: 10%; 
    width: 80%; 
    max-width: 1200px; 
  }
  .map-container{
    border: 2px solid #959595;
  }
  .bottom h1{
    margin-top: 8%;
    white-space: nowrap;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    letter-spacing: 2.5px;
  }
  .contact-info-p{
    line-height: 130%;
    margin-top: 10%;
    font-family: "Playfair Display", serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 18px;
    margin-left: 10%;
  }
  .social-networks img {
    max-width: 45px; 
    max-height: 45px; 
    
  }
  .social-networks {
    margin-top: 40%; 
    margin-left: 15%;
    display: flex;
    justify-content: flex-start; 
    gap: 10%;
  }

  /*-----------------------------*/

  footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #e2e2e2;
    padding: 10px 0;
  }
  .footer{
    color: black;
    margin-right: 2%;
  }