  .all{
    width: 90%;
  }
  .cards{
    font-family: "Playfair Display", serif;
    margin-bottom: 5%;
  }
  .img{
    width: 500px;
    border: 1px solid #959595;
  }
  .info{
    margin-left: 15%;
  }
  .card-title{
    width: 180%;
    margin-top: 4%;
  }
  .card-body{
    margin-left: 20%;
    text-align: left;
  }
  .product_id{
    font-size: 15px;
    color: #959595;
  }
  .price{
    margin-top: 3%;
    color: #d66f8c;
  }
  .h5{
    margin-top: 8%;
    font-size: 20px;
  }
  .add-to-cart{
    margin-top: 10%;
  }
  .description-structure{
    height: 190px;
  }
  .description{
    word-break: break-all;
    width: 190%;
    max-height: 80px;
    font-size: 15px;
  }
  .structure{
    word-break: break-all;
    width: 190%;
    max-height: 80px;
    font-size: 15px;
  }
  .btn{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    font-size: 15px;
    border-radius: 0;
    background-color: #fac0d0;
  }
/*-----------------------------*/