  .container-one{
    font-family: "Playfair Display", serif;
    font-size: 17px;
    width: 99%;
    margin-bottom: 3%;
  }
  .row-one{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .custom-shadow{
    width: 83%;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 1);
    border: 1px solid black;
    
  }

/*-----------------------------*/

.container-bot{
  width:70%;
  justify-content: center;
  align-items: center;
}