{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/about.css" %}">
{% endblock %}


{% block content %}
    <!-- Контент -->
    <div class="container">
        <div class="row mt-1 body">
            <div class="head-photo">
                <h1>О нас</h1>
                <p><a href="{% url 'main:index' %}">Главная</a> / О нас</p>
            </div>
            <div class="container-two">
                <div class="text">
                    <h3>О нашей компании «Lilu»</h3>
                    <p>Магазин цветов Lilu открыл свои двери 6 марта 2016 года и с тех пор стал любимым местом для жителей города Оренбурга, ищущих красивые букеты и уникальные композиции. 
                        <br><br>
                        Lilu предлагает широкий ассортимент свежих цветов, растений и цветочных композиций для любого повода — будь то день рождения, свадьба или просто желание порадовать близкого человека. Профессиональные флористы магазина с радостью помогут подобрать идеальный вариант, учитывая все ваши пожелания и предпочтения.
                        <br><br>
                        Кроме того, в магазине Lilu вы найдете разнообразные сопутствующие товары: подарочные упаковки, открытки, сувениры и многое другое. Мы стремимся создать атмосферу уюта и вдохновения для наших клиентов, поэтому каждый визит к нам — это маленький праздник.
                        <br><br>
                        Мы гордимся качеством нашей продукции и вниманием к деталям, что делает Lilu идеальным выбором для тех, кто ценит красоту и эстетику. Наши флористы готовы предложить индивидуальные решения для вашего праздника или события. Ждем вас в нашем магазине, чтобы подарить вам частичку цветочного волшебства и помочь создать яркие моменты, полные вдохновения и радости!</p>
                </div>
            </div>
{% endblock %}
