{% extends "main/base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/delivery.css" %}">
{% endblock %}


{% block content %}
    <!-- Контент -->
    <div class="container">
        <div class="row mt-1 body">
            <div class="head-photo">
                <h1>Оплата и доставка</h1>
                <p><a href="{% url 'index' %}">Главная</a> / Оплата и доставка</p>
                <img src="" alt="">
            </div>
            <div class="container-two">
                <div class="text">
                    <div class="all">
                        <div class="arrange" id="arrange">
                            <h3>Как оформить заказ</h3>
                            <div class="compartments">
                                <div class="compartment ">
                                    <div>
                                        <img src="{% static "deps/images/arrange1.png"%}" alt="">
                                     </div>
                                    <h5><b>На сайте</b></h5>
                                    <p>Если вам понравился букет, просто добавьте его в корзину и введите свои данные. Наш оператор свяжется с вами для подтверждения заказа.</p>
                                </div>
                                <div class="compartment ">
                                    <div>
                                        <img src="{% static "deps/images/arrange2.png"%}" alt="">
                                     </div>
                                    <h5><b>По телефону</b></h5>
                                    <p>Наши операторы всегда осведомлены о наличии цветов. Они помогут выбрать букет в зависимости от повода и вашего бюджета.</p>
                                </div>        
                                <div class="compartment ">
                                    <div>
                                        <img src="{% static "deps/images/arrange3.png"%}" alt="">
                                     </div>
                                    <h5><b>В магазине</b></h5>
                                    <p>Если вы желаете самостоятельно выбрать готовый букет или оформить доставку цветов, запасайтесь визитом в наши салоны.</p>
                                </div>    
                            </div>
                        </div>
                        <div class="navbar-bottom-border two"></div>
                        <div class="delivery" id="delivery">
                            <h3>Доставка</h3>
                            <div class="compartments">
                                <div class="compartment">
                                    <div>
                                        <img src="{% static "deps/images/delivery1.png"%}" alt="">
                                     </div>
                                    <h5><b>Стоимость доставки</b></h5>
                                    <p>Стоимость доставки по городу - 350 рублей. За пределы города доплата + 55 руб/км.<br>
                                        При заказе от 3000 руб. - доставка по городу бесплатная.  За пределы города доплата + 55 руб/км.<br>
                                        Если у вас остались вопросы, свяжитесь с нашими менеджерами по телефону .</p>
                                </div>
                                <div class="compartment">
                                    <div>
                                        <img src="{% static "deps/images/delivery2.png"%}" alt="">
                                     </div>
                                    <h5><b>Срок доставки</b></h5>
                                    <p>Служба доставки «Lilu» доставит цветы в течение 30 минут с момента оформления заказа (в пределах города).<br>
                                        <u>*Точность времени доставки составляет +-20 мин.</u></p>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-bottom-border two"></div>
                        <div class="payment" id="payment">
                            <h3>Оплата</h3>
                            <div class="compartments">
                                <div class="compartment">
                                    <div>
                                        <img src="{% static "deps/images/payment1.png"%}" alt="">
                                     </div>
                                    <h5><b>Оплата банковской картой</b></h5>
                                    <p>Товары на сайте можно оплатить онлайн или банковской картой при получении. Это удобно, быстро и безопасно.<br>
                                    1. На странице оформления заказа выберите способ оплаты «Банковская карта».<br>
                                    2. После оформления заказа нажмите «Оплатить».<br>
                                    3. Заполните данные с карты и обязательно укажите свою эл.почту (на e-mail Вам придет чек).<br>
                                    4. Для успешной оплаты остается всего лишь нажать кнопку «Далее».</p>
                                </div>
                                <div class="compartment">
                                    <div>
                                        <img src="{% static "deps/images/payment2.png"%}" alt="">
                                     </div>
                                    <h5><b>Оплата наличными</b></h5>
                                    <p>Вы можете оплатить заказ наличными:<br>
                                    1. На странице оформления заказа выберите способ оплаты «Наличный расчет».<br>
                                    2. Оплата наличными производится при самовывозе.<br>
                                    <u>*Обращаем Ваше внимание, что наличный способ оплаты доступен только в том случае, если получателем будете Вы сами.</u></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}


</html>