{% extends "base.html" %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/index.css" %}">
{% endblock %}


{% block content %}
    <!-- Контент -->
<div class="container">
    <div class="row mt-1 body">
        <div class="going-catalog-photos">
            <div class="image-container">
                <p class="overlay-text">ПОДАРИТЕ СВОЮ<br> ЛЮБОВЬ</p>
                <img src="{% static "deps/images/main3.jpg" %}" alt="" class="going-catalog-images">
                <button  class="catalog-button"><a href=" {% url 'goods:index' category_slug='all' %} " class="going-catalog one">Перейти в каталог</a></button>
            </div>
        </div>
        <div class="navbar-bottom-border two"></div>
        <div class="other">
            <div class="why-are-we">
                <h2>Почему мы?</h2>
                <ul class="why-ate-we-list">
                    <li>
                        <div>
                             <div>
                                <img src="{% static "deps/images/why-are-we1.png"%}" alt="">
                             </div>
                            <div>Качественные и свежие цветы</div>
                        </div>
                    </li>
                    <li>
                        <div>
                             <div>
                                <img src="{% static "deps/images/why-are-we2.png"%}" alt="">
                             </div>
                            <div>Широкий ассортимент букетов </div>
                        </div>
                    </li>
                    <li>
                        <div>
                             <div>
                                <img src="{% static "deps/images/why-are-we3.png"%}" alt="">
                             </div>
                            <div>Индивидуальный подход к клиентам</div>
                        </div>
                    </li>
                    <li>
                        <div>
                             <div>
                                <img src="{% static "deps/images/why-are-we4.png"%}" alt="">
                             </div>
                            <div>Уютный салон</div>
                        </div>
                    </li>
                    <li>
                        <div>
                             <div>
                                <img src="{% static "deps/images/why-are-we5.png"%}" alt="">
                             </div>
                            <div>Доставка от 30 минут</div>
                        </div>
                    </li>
                    <li>
                        <div>
                             <div>
                                <img src="{% static "deps/images/why-are-we6.png"%}" alt="">
                             </div>
                            <div>Профессиональные флористы</div>
                        </div>
                    </li>
                </ul>
                <button class="catalog-button-two"><a href="{% url 'goods:index' category_slug='all' %}" class="going-catalog two">Перейти в каталог</a></button>
            </div>
            <div class="navbar-bottom-border two"></div>
            <div class="categories">
                <div class="bouquets">
                    <a href="{% url 'goods:index' category_slug='bukety' %}" >
                        <div class="image-container">
                            <img src="{% static "deps/images/2_1.jpg"%}" alt="" class="going-bouquets">
                            <div class="overlay"></div>
                        </div>
                        <p class="text-overlay">Букеты</p>
                    </a>
                </div>
                <div class="individually">
                    <a href="{% url 'goods:index' category_slug='komnatnye-rasteniya' %}">
                        <div class="image-container">
                            <img src="{% static "deps/images/2_2.jpg"%}" alt="" class="going-bouquets">
                            <div class="overlay"></div>
                        </div>
                        <p class="text-overlay">Комнатные растения</p>
                    </a>
                </div>
                <div class="indoor">
                    <a href="{% url 'goods:index' category_slug='cvety-poshtuchno' %}">
                        <div class="image-container">
                            <img src="{% static "deps/images/2_3.jpg"%}" alt="" class="going-bouquets">
                            <div class="overlay"></div>
                        </div>
                        <p class="text-overlay">Цветы поштучно</p>
                    </a>
                </div>
            </div>
            <div class="description">
                <img src="{% static "deps/images/3_1.jpg" %}" alt="">
                <div class="text">
                    <h2>Больше, чем просто цветы</h2>
                     <p>Мы создаем цветочные истории для ваших самых важных моментов. 
                    Каждый букет – это авторское произведение из отборных цветов, 
                    собранное с трепетом и вниманием к деталям,
                    чтобы ваши чувства прозвучали в полную силу.</p>
                </div>
                <button><a href="{% url 'goods:index' category_slug='bukety' %}" class="going-catalog three">Выбрать букет</a></button>
                
            </div>
            <div class="photos">
                <img src="{% static "deps/images/0.jpg" %}" class="img" alt="">
                <img src="{% static "deps/images/1.jpg" %}" class="img" alt="">
                <img src="{% static "deps/images/2.jpg" %}" class="img" alt="">
                <img src="{% static "deps/images/3.jpg" %}" class="img" alt="">
                <img src="{% static "deps/images/4.jpg" %}" class="img" alt="">
                <img src="{% static "deps/images/5.jpg" %}" class="img" alt="">
            </div>
{% endblock %}